.no-padding{
    padding: 0 !important;
}

.border-right{
    border-right: 1px solid #110c11;
}

.center{
    text-align: center;
}

.left-align{
    text-align: left !important;
    padding-left: 120px !important;
}

.nav-logo{
    height: 55px;
    width: 60px;
}

.text-justify{
  text-align: justify;
}

.smaller-text, .smaller-text:hover{
    color: #666666;
    font-size: 14px;
}

.text-right{
    float: right;
}

.sticky{
    position: fixed;
    z-index: 30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.margin-top{
    margin-top: 7%;
}

.blue{
  color:#0872B9;
}

.blue:hover{
  color:#fff;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    position: relative;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    /* position: absolute;*/
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000; */ 
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
      position: absolute;
    top: 0;
    left: 0;
    margin-left: 0 !important;
    margin-top: 0 !important;
    backface-visibility: hidden;
    /* overflow: hidden; */
    background: #000;
    color: #fafafa;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront h1, .theback h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront p, .theback p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }



/* Services cards */
  .serv-card{
    border: solid #0872B9 2px;
    padding: 40px 35px;
    height: 410px;
    margin-bottom: 5%;
    }

  .useful-links{
    padding-left: 70px;
  }

  .gallery-row{
    margin-top: 2%;
  }

  .slider-image{
    background-size: cover;

  }