/* -------------- home service cards --------------- */
.home-card{
    border: solid #0872B9 2px;
    border-radius: 8px;
    padding: 30px 30px 15px 30px;
    width: 100% !important;
    height: 450px;
}

.home-card-icon{
    width: 100px;
    height: 100px;
    background-color: #0872B9;
    margin: auto;
}

.home-card-title-container{
    text-align: center;
    margin: auto;
    margin-top: 5% !important;
}

.home-card-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    /* color: #0872B9; */
}

.home-card-title-line{
    width: 30%;
    background-color: #0872B9;
    height: 2px;
    margin-top: -3%;
    border: none;
}

.home-card-desc-container{
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-top: 7% !important;
    color: #666666;
    font-weight: 300;
}

 /* -------------------- about section ----------------- */

 .white-bg{
   
    color: #666666 !important;
 }

 .card-header-title{
    font-weight: 700;
    font-size: 18px !important;
 }


 /* -------------------- fabrication section ----------------- */

 .serv-fab-img-container{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-color: #666666;
 }

 .main-title-line{
    width: 8%;
    height: 4px;
    background-color: #0872B9;
 }

 #fab-image1{
    background-image: url('./assets/images/FABRICATION.png');
 }

 #fab-image2{
    background-image: url('./assets/images/FABRICATION.png');
}

#fab-image3{
    background-image: url('./assets/images/FABRICATION.png');
}

#fab-image4{
    background-image: url('./assets/images/FABRICATION.png');
}

/* -------------------- field services section ----------------- */

#field-image1{
    background-image: url('./assets/images/FIELD.JPG');
}

#field-image2{
    background-image: url('./assets/images/FIELD.JPG');
}

#field-image3{
    background-image: url('./assets/images/FIELD.JPG');
}

#field-image4{
    background-image: url('./assets/images/FIELD.JPG');
}

/* -------------------- field services section ----------------- */

.card-show{
    display: block !important;
    visibility: visible !important;
}
.image-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.image-holder, .card-layer{
    height: 190px;
}

.image-card-label{
    position: relative;
    color: #fbfcfc;
    background-color: #4391C6;
    text-align: center !important;
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 10;
}

.card-layer{
    position: absolute;
    top: 0;
    width: 89.5%;
    background-color: black;
    opacity: 0.88;
    display: none;
} 

.layer-content-container{
    position: absolute;
    top: 0;
    color: #fbfcfc;
    padding: 25px;
    width: 89.5%;
    display: none;
}

.layer-text{
    margin-top: 5% !important;
    width: 100%;
    margin: auto;
    text-align: justify;
    opacity: 0.9;
}

.layer-button{
    margin: auto;
    width: 55%;
    color: #4391C6 !important;
}

.card-btn, .card-btn:hover{
    background-color: transparent;
    color: #4391C6;
    border: 2px solid #4391C6;
    font-size: 15px;
    cursor: pointer;
}

#man-img1{
    background-image: url('./assets/images/hydrocyclone.JPG');  
}

#man-img2{
    background-image: url('./assets/images/hydrocyclone.JPG');
}

#man-img3{
    background-image: url('./assets/images/hydrocyclone.JPG');
}

#man-img4{
    background-image: url('./assets/images/hydrocyclone.JPG');
}

#man-img5{
    background-image: url('./assets/images/hydrocyclone.JPG');
}

#man-img6{
    background-image: url('./assets/images/hydrocyclone.JPG');
}

#man-img7{
    background-image: url('./assets/images/hydrocyclone.JPG');
}

#man-img8{
    background-image: url('./assets/images/hydrocyclone.JPG');
}
<<<<<<< HEAD

/* -------------------- manufacturing pop-up section ----------------- */

.card-hide{
    display: none!important;
    visibility: hidden !important;
}

.pop-up-containers{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100vh !important;
    top: 0%;
    position: absolute;
    left: 0 !important;
    display: none;
    z-index: 200;
}
.pop-up{
    position: relative;
    width: 100%;
    /* height: 400px; */
    background-color: #fbfcfc;
    margin: auto;
    z-index: 250;
    display: none;
    padding: 10px;
    /* margin-top: 5%; */
}

.cancels{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    float: right;
    color: #000;
    opacity: 0.75;
}

.man-card-title-line{
    width: 10%;
    background-color: #0872B9;
    height: 2px;
    margin-top: -1%;
    border: none;

}
=======
>>>>>>> fef0a91169db1129a70dd27e6890f368ee7f2e06
