/* -------------- home service cards --------------- */
.home-card{
    border: solid #0872B9 2px;
    border-radius: 8px;
    padding: 30px 30px 15px 30px;
    width: 100% !important;
    height: 450px;
}

.home-card-icon{
    width: 100px;
    height: 100px;
    background-color: #0872B9;
    margin: auto;
}

.home-card-title-container{
    text-align: center;
    margin: auto;
    margin-top: 5% !important;
}

.home-card-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    /* color: #0872B9; */
}

.home-card-title-line{
    width: 30%;
    background-color: #0872B9;
    height: 2px;
    margin-top: -3%;
    border: none;
}

.home-card-desc-container{
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-top: 7% !important;
    color: #666666;
    font-weight: 300;
}

 /* -------------------- about section ----------------- */

 .white-bg{
   
    color: #666666 !important;
 }

 .card-header-title{
    font-weight: 700;
    font-size: 18px !important;
 }


 /* -------------------- fabrication section ----------------- */

 .serv-fab-img-container{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-color: #666666;
 }

 .main-title-line{
    width: 8%;
    height: 4px;
    background-color: #0872B9;
    margin-top: -0.5%;
 }

 #fab-image1{
    background-image: url('./assets/images/Fab-images/FAB10.JPG');
    background-size: cover;
    opacity: 0.95;
 }

 #fab-image2{
    background-image: url('./assets/images/Fab-images/FAB9.JPG');
    background-size: cover;
    opacity: 0.95;
}

#fab-image3{
    background-image: url('./assets/images/Fab-images/FAB7.JPG');
    background-size: cover;
    opacity: 0.95;
}

#fab-image4{
    background-image: url('./assets/images/Fab-images/FAB15.JPG');
    background-size: cover;
    opacity: 0.95;
}

/* -------------------- field services section ----------------- */

#field-image1{
    background-image: url('./assets/images/Field-Services/Site1.JPG');
    background-size: cover;
    opacity: 0.95;
}

#field-image2{
    background-image: url('./assets/images/Field-Services/Site2.JPG');
    background-size: cover;
    opacity: 0.95;
}

#field-image3{
    background-image: url('./assets/images/Field-Services/Site6.png');
    background-size: cover;
    opacity: 0.95;
}

#field-image4{
    background-image: url('./assets/images/Field-Services/Site8.JPG');
    background-size: cover;
    opacity: 0.95;
}

/* -------------------- field services section ----------------- */

.card-show{
    display: block !important;
    visibility: visible !important;
}
.image-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.image-holder, .card-layer{
    height: 190px;
}

.image-card-label{
    position: relative;
    color: #fbfcfc;
    background-color: #4391C6;
    text-align: center !important;
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 10;
}

.card-layer{
    position: absolute;
    top: 0;
    width: 89.5%;
    background-color: black;
    opacity: 0.88;
    display: none;
} 

.layer-content-container{
    position: absolute;
    top: 0;
    color: #fbfcfc;
    padding: 25px;
    width: 89.5%;
    display: none;
}

.layer-text{
    margin-top: 5% !important;
    width: 100%;
    margin: auto;
    opacity: 0.9;
}

.layer-button{
    margin: auto;
    width: 55%;
    color: #4391C6 !important;
}

.card-btn, .card-btn:hover{
    background-color: transparent;
    color: #4391C6;
    border: 2px solid #4391C6;
    font-size: 15px;
    cursor: pointer;
}

#man-img1{
    background-image: url('./assets/images/SCRC\ 3.png');
    background-size: cover;
    opacity: 0.9;
}

#man-img2{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    opacity: 0.9;
}

#man-img3{
    background-image: url('./assets/images/INTER-STAGE-SCREENS/Inter-stage-10.JPG');
    background-size: cover;
    opacity: 0.9
}

#man-img4{
    background-image: url('./assets/images/CONVEYOR-IDLERS/Idler5.JPG');
    background-size: cover;
    opacity: 0.9
}

#man-img5{
    background-image: url('./assets/images/SCREEN-PANELS/b19acc5c-a30c-4f4e-b62a-1b0e6fdad0d3.png');
    background-size: cover;
    opacity: 0.9
}

#man-img6{
    background-image: url('./assets/images/SPRAY-NOZZLES/45fee03c-a2ed-41ba-874a-2c11a250fdea.png');
    background-size: cover;
    opacity: 0.9
}

#man-img7{
    background-image: url('./assets/images/HDP-PIPES/39f3ae7e-0812-4b16-8cc2-ebb4133f7371.JPG');
    background-size: cover;
    opacity: 0.9
}

#man-img8{
    background-image: url('./assets/images/PL\ 3.png');
    background-size: cover;
    opacity: 0.9
}

/* -------------------- manufacturing pop-up section ----------------- */

.card-hide{
    display: none!important;
    visibility: hidden !important;
}

.pop-up-containers{
    background-color: black;
    opacity: 0.35;
    width: 100%;
    height: 100% !important;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    left: 0 !important;
    display: none;
    z-index: 200;
    overflow: hidden;
}
.pop-up{
    position: relative;
    width: 70%;
    background-color: #fbfcfc;
    margin: auto;
    z-index: 250;
    display: none;
    padding: 30px;
    margin-top: -22%;
    border-top: 5px solid #4391C6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cancels{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    float: right;
    color: #000;
    opacity: 0.75;
}

.man-card-title-line{
    width: 7%;
    background-color: #0872B9;
    height: 3px;
    margin-top: -1.3%;
    border: none;
}

.pop-up-description{
    width: 90%;
    margin: auto;
    text-align: justify;
    margin-top: 5%;
}   

.pop-up-sub-desc{
    width: 90%;
    text-align: justify;
    margin: auto;
}

.pop-up-sub-desc-title{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;  
}

.pop-up-sub-desc-par{
    font-size: 15px;
}

.pop-up-image-container{
    width: 95%;
    margin: auto;
    margin-top: 5%;
}

.man-pop-up-image{
    height: 150px;
    width: 100%;
}

#trans, #inter, #conveyor, #screen, #spray, #pipe, #poly{
    margin-top: -10%;
    padding-bottom: 50px;
}

/* hydro cyclone pop-up images */

#hydro1{
    background-image: url('./assets/images/HYDRO-CYCLONES/PU\ 1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#hydro2{
    background-image: url('./assets/images/HYDRO-CYCLONES/SCRC\ 3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#hydro3{
    background-image: url('./assets/images/HYDRO-CYCLONES/Cast\ Iron\ 1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#hydro4{
    background-image: url('./assets/images/HYDRO-CYCLONES/Cast\ Iron\ 17.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/* transfer chute pop-up images */

#trans1{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#trans2{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#trans3{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#trans4{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/* inter-stage screens pop-up images */

#inter1{
    background-image: url('./assets/images/INTER-STAGE-SCREENS/Inter-stage-11.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#inter2{
    background-image: url('./assets/images/INTER-STAGE-SCREENS/Inter-stage-7.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#inter3{
    background-image: url('./assets/images/INTER-STAGE-SCREENS/Inter-stage-9.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#inter4{
    background-image: url('./assets/images/INTER-STAGE-SCREENS/Inter-stage-4.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/* conveyor idlers pop-up images */

#conveyor1{
    background-image: url('./assets/images/CONVEYOR-IDLERS/Idler4.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#conveyor2{
    background-image: url('./assets/images/CONVEYOR-IDLERS/Idler5.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#conveyor3{
    background-image: url('./assets/images/CONVEYOR-IDLERS/Idler6.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#conveyor4{
    background-image: url('./assets/images/CONVEYOR-IDLERS/Idler7.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/* screen panel pop-up images */

#screen1{
    background-image: url('./assets/images/SCREEN-PANELS/MW\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#screen2{
    background-image: url('./assets/images/SCREEN-PANELS/b7964a19-ec2c-4344-8451-7727ed5db749.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#screen3{
    background-image: url('./assets/images/SCREEN-PANELS/b56d345f-8cca-4860-b1d6-8a4d0961b88e.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#screen4{
    background-image: url('./assets/images/SCREEN-PANELS/MW\ 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* spray nozzles pop-up images */

#spray1{
    background-image: url('./assets/images/SPRAY-NOZZLES/45fee03c-a2ed-41ba-874a-2c11a250fdea.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#spray2{
    background-image: url('./assets/images/SPRAY-NOZZLES/e569a66b-9bf2-4578-986e-40a8f8766a8f.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#spray3{
    background-image: url('./assets/images/SPRAY-NOZZLES/45fee03c-a2ed-41ba-874a-2c11a250fdea.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#spray4{
    background-image: url('./assets/images/SPRAY-NOZZLES/e569a66b-9bf2-4578-986e-40a8f8766a8f.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* hdpe pipes pop-up images */

#pipe1{
    background-image: url('./assets/images/HDP-PIPES/39f3ae7e-0812-4b16-8cc2-ebb4133f7371.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#pipe2{
    background-image: url('./assets/images/HDP-PIPES/59b9b719-3199-4068-ac84-7b71a4598ed2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#pipe3{
    background-image: url('./assets/images/HDP-PIPES/592fa640-d5aa-4ffa-937e-1446bc4b488c.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#pipe4{
    background-image: url('./assets/images/HDP-PIPES/db8e8561-144c-4d11-9218-fd230d32233c.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* hdpe pipes pop-up images */

#poly1{
    background-image: url('./assets/images/POLYURETHANE-LINERS/PL2.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#poly2{
    background-image: url('./assets/images/POLYURETHANE-LINERS/PL4.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#poly3{
    background-image: url('./assets/images/POLYURETHANE-LINERS/PL2.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#poly4{
    background-image: url('./assets/images/POLYURETHANE-LINERS/PL4.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}


/* service drop down menu */

.service-drop-down{
    display: none;
    width: 15%;
    position: absolute;
    list-style: none;
    margin-left: 63%;
    z-index: 200;
}

.menu-show{
    display: block;
}