@media screen and (min-width: 300px) and (max-width: 500px){
    .row-margin{
        margin-left: 0px;
        margin-right: 0px;
    }

    .mobile-title-margin-top{
        margin-top: 10%;
    }

    .mobile-no-margin-top{
        margin-top: 0 !important;
    }

    .mobile-text-justify{
        text-align: justify;
    }

    /* ---------- home page --------- */

    #mu-slider {
        height: 37vh !important;
    }

    .video-container{
        margin-top: 20%;
    }

    .v-height{
        /* height: 30vh; */
        background-size: cover;
    }

    .mobile-hide{
        display: none;
    }

    .home-card{
        padding: 0px 20px 15px 20px;
        height: 430px;
        margin-bottom: 5%;
    }

    /* ---------- about page --------- */
    .about-card{
        border: solid #0872B9 2px;
        padding: 20px 30px;
        height: unset;
        margin-bottom: 5%;
      }

    .image-card{
       margin-bottom: 10%;
    }

    /* ---------- fabrication page --------- */

    .image-margin-bottom{
        margin-bottom: 7%;
    }

    /* ---------- contact page --------- */

    .section-margin-bottom{
        margin-bottom: 10%;
    }

    .mobile-contact-title-margin-top{
        margin-top: 15%;
    }

    .mu-contact-area{
        padding: 60px 0;
    }

    /* ------------- footer ------------ */

    .mobile-left-align{
        text-align: left !important;
        padding-left: 0 !important;
    }

    .mu-footer-logo{
        margin-bottom: 0;
    }

    .footer-logo-img{
        padding-top: 0;
        margin-left: 0;
    }

    .mu-footer-top {
        padding: 0;
        padding-left: 15px;
    }

    /* ------------- gallery ------------ */

    .tab-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .filter{
        font-size: 14px;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .myBtnContainer{
        margin: auto;
    }

    /* ------------- pop-up ------------ */

    .pop-up-image-margin-bottom{
        margin-bottom: 7%;
    }

    .pop-up{
        width: 95%;
        padding: 15px;
        margin-top: 6%;
    }

    .cancels{
        margin-right: 5px;
        margin-top: 0px;
    }

    /* ------------- manufacturing ------------ */
    .card-layer{
        position: absolute;
        top: 0;
        width: 93%;
        margin: auto;
        background-color: black;
        opacity: 0.88;
        display: none;
    } 

    .layer-content-container{
        width: 100%;
    }

    .layer-button{
        width: 40%;
    }
}


@media screen and (min-width: 300px) and (max-width: 399px){
    .small-device-margin-left{
        margin-left: 40px !important;
    }

    .card-layer{
        width: 92%;
    }
}
