/* -------------- home service cards --------------- */
.home-card{
    border: solid #0872B9 2px;
    border-radius: 8px;
    padding: 20px 30px 15px 30px;
    width: 100% !important;
    height: 450px;
}

.dropdown-menu{
    background-color: #0872b9 !important;
    width: 20%;
}

.dropdown-menu a{
    color: white !important;
    font-size: 12px ;
    transition:  font-size 0.1s !important;

}

.dropdown-menu a:hover{
    color: white !important;
}

  
.dropdown-menu a:hover {
    font-size: 16px;
}



.home-card-icon{
    width: 100px;
    height: 100px;
    /* background-color: #0872B9; */
    margin: auto;
}

.title-margin-top{
    margin-top: 5%;
}

.home-card-title-container{
    text-align: center;
    margin: auto;
    margin-top: 7% !important;
}

.home-card-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    /* color: #0872B9; */
}

.home-card-title-line{
    width: 30%;
    background-color: #0872B9;
    height: 2px;
    margin-top: -3%;
    border: none;
}

.home-card-desc-container{
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-top: 7% !important;
    color: #666666;
    font-weight: 300;
}

 /* -------------------- about section ----------------- */

 .white-bg{
   
    color: #666666 !important;
 }

 .card-header-title{
    font-weight: 700;
    font-size: 18px !important;
 }


 /* -------------------- fabrication section ----------------- */

 .serv-fab-img-container{
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-color: #fff;
 }

 .main-title-line{
    width: 8%;
    height: 4px;
    background-color: #0872B9;
    margin-top: -0.5%;
 }

 #fab-image1{
    background-image: url('./assets/images/Fab1.png');
    background-size: contain;
    opacity: 0.95;
 }

 #fab-image2{
    background-image: url('./assets/images/FAB5.png');
    background-size: contain;
    opacity: 0.95;
}

#fab-image3{
    background-image: url('./assets/images/FAB4.png');
    background-size: contain;
    opacity: 0.95;
}

#fab-image4{
    background-image: url('./assets/images/FAB10.png');
    background-size: contain;
    opacity: 0.95;
}

/* -------------------- field services section ----------------- */

#field-image1{
    background-image: url('./assets/images/Field-Services/Site1.JPG');
    background-size: cover;
    opacity: 0.95;
}

#field-image2{
    background-image: url('./assets/images/Field-Services/Site2.JPG');
    background-size: cover;
    opacity: 0.95;
}

#field-image3{
    background-image: url('./assets/images/Field-Services/Site6.png');
    background-size: cover;
    opacity: 0.95;
}

#field-image4{
    background-image: url('./assets/images/Field-Services/Site8.JPG');
    background-size: cover;
    opacity: 0.95;
}

/* -------------------- manufacturing section ----------------- */

.card-show{
    display: block !important;
    visibility: visible !important;
}
.image-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.image-holder, .card-layer{
    height: 190px;
}

.image-card-label{
    position: relative;
    color: #fbfcfc;
    background-color: #4391C6;
    text-align: center !important;
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 10;
}

.card-layer{
    position: absolute;
    top: 0;
    width: 89.5%;
    background-color: black;
    opacity: 0.88;
    display: none;
} 

.layer-content-container{
    position: absolute;
    top: 0;
    color: #fbfcfc;
    padding: 25px;
    width: 89.5%;
    display: none;
}

.layer-text{
    margin-top: 5% !important;
    width: 100%;
    margin: auto;
    opacity: 0.9;
}

.layer-button{
    margin: auto;
    width: 55%;
    color: #4391C6 !important;
}

.card-btn, .card-btn:hover{
    background-color: transparent;
    color: #4391C6;
    border: 2px solid #4391C6;
    font-size: 15px;
    cursor: pointer;
}

#man-img1{
    background-image: url('./assets/images/SCRC\ 3.png');
    background-size: cover;
    opacity: 0.9;
}

#man-img2{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    opacity: 0.9;
}

#man-img3{
    background-image: url('./assets/images/Inter-stage2.png');
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
}

#man-img4{
    background-image: url('./assets/images/Manufacturing/4. Conveyor Idlers/Idler1.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#man-img5{
    background-image: url('./assets/images/Manufacturing/Screen Panels/Mesh Wire/MW3.png');
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
}

#man-img6{
    background-image: url('./assets/images/Manufacturing/6. Spray Nozzles/Spray2.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#man-img7{
    background-image: url('./assets/images/Manufacturing/7. HDPE Pipes/Pipe1.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#man-img8{
    background-image: url('./assets/images/PL\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

/* -------------------- manufacturing pop-up section ----------------- */

.card-hide{
    display: none!important;
    visibility: hidden !important;
}

.pop-up-containers{
    background-color: black;
    opacity: 0.35;
    width: 100%;
    height: 100% !important;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    left: 0 !important;
    display: none;
    z-index: 200;
    overflow: hidden;
}
.pop-up{
    position: relative;
    width: 70%;
    background-color: #fbfcfc;
    margin: auto;
    z-index: 250;
    display: relative;
    padding: 30px;
    margin-top: -22%;
    border-top: 5px solid #4391C6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cancels{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    float: right;
    color: #000;
    opacity: 0.75;
}

.man-card-title-line{
    width: 7%;
    background-color: #0872B9;
    height: 3px;
    margin-top: -1.3%;
    border: none;
}

.pop-up-description{
    width: 90%;
    margin: auto;
    text-align: justify;
    margin-top: 5%;
}   

.pop-up-sub-desc{
    width: 90%;
    text-align: justify;
    margin: auto;
}

.pop-up-sub-desc-title{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;  
}

.pop-up-sub-desc-par{
    font-size: 15px;
}

.pop-up-image-container{
    width: 95%;
    margin: auto;
    margin-top: 5%;
}

.man-pop-up-image{
    height: 150px;
    width: 100%;
}

.pop-up{
    margin-top: -10%;
    padding-bottom: 50px;
}

#popTest{
    margin-top: 6% !important; 
}

.image-border{
    border: 1px solid #7e7e7e;
}

/* hydro cyclone pop-up images */

#hydro1{
    background-image: url('./assets/images/Manufacturing/1. Hydro-cyclones/Steel Ceramic Lined Cyclones/SCRC2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#hydro2{
    background-image: url('./assets/images/Manufacturing/1. Hydro-cyclones/Cast Iron Cyclones/CastIron17.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#hydro3{
    background-image: url('./assets/images/Manufacturing/1. Hydro-cyclones/Polyurethane Cyclones/PU3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#hydro4{
    background-image: url('./assets/images/Manufacturing/1. Hydro-cyclones/Polyurethane Cyclones/PU4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* transfer chute pop-up images */

#trans1{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#trans2{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#trans3{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#trans4{
    background-image: url('./assets/images/TRANSFER-CHUTES/trans1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/* inter-stage screens pop-up images */

#inter1{
    background-image: url('./assets/images/Inter-stage2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#inter2{
    background-image: url('./assets/images/Inter-stage9.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#inter3{
    background-image: url('./assets/images/Inter-stage5.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#inter4{
    background-image: url('./assets/images/Inter-stage10.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* conveyor idlers pop-up images */

#conveyor1{
    background-image: url('./assets/images/Manufacturing/4. Conveyor Idlers/Idler1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#conveyor2{
    background-image: url('./assets/images/idler2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#conveyor3{
    background-image: url('./assets/images/idler3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#conveyor4{
    background-image: url('./assets/images/idler4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* screen panel pop-up images */

#screen1{
    background-image: url('./assets/images/Manufacturing/Screen Panels/Mesh Wire/MW3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#screen2{
    background-image: url('./assets/images/Manufacturing/Screen Panels/Polyurethane Screen Panels/psp3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#screen3{
    background-image: url('./assets/images/Manufacturing/Screen Panels/Mesh Wire/MW2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#screen4{
    background-image: url('./assets/images/Manufacturing/Screen Panels/Polyurethane Screen Panels/psp1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* spray nozzles pop-up images */

#spray1{
    background-image: url('./assets/images/Manufacturing/6. Spray Nozzles/Spray1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#spray2{
    background-image: url('./assets/images/Manufacturing/6. Spray Nozzles/Spray2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#spray3{
    background-image: url('./assets/images/Manufacturing/6. Spray Nozzles/Spray1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#spray4{
    background-image: url('./assets/images/Manufacturing/6. Spray Nozzles/Spray2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* hdpe pipes pop-up images */

#pipe1{
    background-image: url('./assets/images/Manufacturing/7. HDPE Pipes/Pipe3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#pipe2{
    background-image: url('./assets/images/Manufacturing/7. HDPE Pipes/Pipe4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#pipe3{
    background-image: url('./assets/images/Manufacturing/7. HDPE Pipes/Pipe2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#pipe4{
    background-image: url('./assets/images/Manufacturing/7. HDPE Pipes/Pipe1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* hdpe pipes pop-up images */

#poly1{
    background-image: url('./assets/images/Manufacturing/PolyurethaneLiners/PL2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#poly2{
    background-image: url('./assets/images/Manufacturing/PolyurethaneLiners/PL3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#poly3{
    background-image: url('./assets/images/Manufacturing/PolyurethaneLiners/PL5.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#poly4{
    background-image: url('./assets/images/Manufacturing/PolyurethaneLiners/PL3.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/* service drop down menu */

.service-drop-down{
    display: none;
    width: 15%;
    position: absolute;
    list-style: none;
    margin-left: 63%;
    z-index: 200;
}

.menu-show{
    display: block;
}

/* -------------- gallery --------------- */

.filter{
    color: #fbfcfc;
    background-color: #0872B9;
    min-width: 150px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px;
}

.filer-active{
    color: #0872B9;
    background-color: #fff;
    font-weight: 600 !important;
    border: 1px solid #0872B9;
}

.height{
    height: 240px;
}

.width{
    width: 106%;
}

/* -------------- New gallery --------------- */

.tab-flex{
    margin-top: 5%;
}

.gallery-image-container{
    margin-top: 7%;
}

.title-left{
    text-align: left !important;
}

.gallery-card-title-container{
    text-align: left;
    display: inline-grid;
    margin-bottom: 2%;
}

.gallery-card-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    /* color: #0872B9; */
}

.gallery-title-line{
    width: 40%;
    background-color: #0872B9;
    height: 2px;
    margin-top: -1%;
    border: none;
}

.gallery-image-parent{
    height: 200px;
    margin-bottom: 5%;
}

.gallery-image-holder{
    height: 190px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.cover{
    background-size: cover !important;
}

.no-float{
    float: none !important;
}